
/* Font */
*{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
}
p{
    font-weight: 300;
}

/* Universal */
.unipadding{
    padding: 0px 60px;
}

/* Body */
body{
    margin:0px;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #283B49;
}

#left,#right,#left h2{
    display: inline-block;
}

#left a{
    position: relative;
    bottom: 3px;
    margin-left: 30px;
    text-decoration: none;
    color:white;
}

#right a{
    position: relative;
    top: 1px;
    text-decoration: none;
}

#getstarted{
    border: 2px dashed white;
    color:white;
    padding:16px;
    border-radius: 5px;
}

#readmore{
    background-color: #2ED5B9;
    color: #283B49;
    padding:18px 24px;
    border-radius: 5px;
}

/* first panel */

#first-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3C505B;
    box-sizing: border-box;
    padding: 50px;
}

#left-text{
    font-size: 25px;
    width: 50%;
    display: inline-block;
    position: relative;
    bottom:30px;
}

img{
    border-radius: 10px;
}

#getstarted2{
    background-color: #2ED5B9;
    color: #283B49;
    border-radius: 5px;
    text-decoration: none;
    padding: 22px 18px;
    font-size: 18px;

    position: relative;
    bottom: 0px;
    transition-property:bottom,padding;
    transition-duration: 0.7s;
}

#readmore2{
    border: 2px dashed white;
    color:white;
    border-radius: 5px;
    text-decoration: none;
    padding:20px 26px;
    font-size: 18px;

    position: relative;
    bottom: 0px;
    transition-property:bottom,padding;
    transition-duration: 0.7s;
}

#left-text p{
    font-size: 18px;
}

#left-text h1{
    margin-top:0px;
}

#left-text h4{
    margin-bottom:10px;
}

#getstarted2:hover{
    bottom:10px;
    padding: 24px 20px;
}

#readmore2:hover{
    bottom:10px;
    padding:22px 28px;
}


/* middle panel */
#caption{
    text-align: center;
}

#caption p{
    width: 70%;
    display: inline-block;
}

#caption h1{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 10px;
}

#blocks{
    margin-top: 50px;
}

.block{
    width:30%;
    height:240px;
    background-color: #122835;
    color:white;
    display: inline-block;
    margin:20px;
    border-radius: 15px;
    overflow: auto;
    position: relative;
    box-sizing: border-box;

    bottom: 0px;
    padding: 0px;
    transition-property: bottom,padding;
    transition-duration: 1s;
    
}

i{
    font-size: 45px;
    margin:30px;
    color:#2DAE9A;
}

.block h3{
    margin-left: 30px;
    margin-top: 0px;
}

.block p{
    margin-left: 30px;
    width: 70%;
}

.block:hover{
    bottom:20px;
    padding: 10px;
}


/* Last Panel */

#last-panel{
    overflow: auto;
    background-color: #122835;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#p60{
    width:60%;
    float: left;
    box-sizing: border-box;
    padding: 20px;
    font-size: 25px;
}

#p40{
    width:40%;
    float: left;
}

#p40 img{
    width:100%;
}

#p60 p{
    font-size: 18px;
}

#p60 a{
    background-color: #2ED5B9;
    color: #283B49;
    border-radius: 5px;
    text-decoration: none;
    padding: 22px 18px;
    font-size: 18px;

    position: relative;
    bottom: 0px;
    transition-property:bottom,padding;
    transition-duration: 0.7s;
}

#p60 a:hover{
    bottom:10px;
    padding: 24px 20px;  
}
